<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'logo2.jpeg' %>
  </div>

  <div id="content">
    <h1>Hey, I'm Maciej Dobosz</h1>
    <p>Welcome to my simple blog made with Rails.</p>
    <p>This blog was built based on youtube tutorials by Mackenzie Child. Thanks Mackenzie!</p>
  </div>
</div>